{% extends 'base.html' %}
{% block body %}

<div class="container">
    <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h1 class="h1-responsive font-weight-bold text-center my-4 mt-5"><b><u>Contact</u></b></h1>
        <center>
            <a type="button" class="btn btn-dark mt-3" href="https://taha-irshad.web.app/"
                target="_blank">Portfolio</a><br>
            <a type="button" class="btn btn-dark mt-3" href="https://www.linkedin.com/in/tahairshad19"
                target="_blank">Linkedin</a><br>
            <a type="button" class="btn btn-dark mt-3" href="https://www.facebook.com/tahairshad19"
                target="_blank">Facebook</a><br>
            <a type="button" class="btn btn-dark mt-3" href="https://twitter.com/tahairshad19"
                target="_blank">Twitter</a><br>
            <a type="button" class="btn btn-dark mt-3" href="https://instagram.com/tahairshad19"
                target="_blank">Instagram</a><br>
            <a class="btn btn-primary mt-3" href="mailto:tahairshad19@gmail.com">tahairshad19@gmail.com</a>
        </center>

    </section>
    <!--Section: Contact v.2-->
</div>

{% endblock body %}